<!-- <app-header></app-header> -->

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " href="#" routerLink="#">HOME PAGE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#" routerLink="data">STRING INTERPOLATION</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="form">FORM</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="app">FORM DETAILS</a>
    </li>

</ul>

<br>
<router-outlet></router-outlet>
<br>
<!-- <app-student-data></app-student-data>
<app-student-app   ></app-student-app> -->