<div class="container">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="emailId">Email Id</label>
            <input type="email" class="form-control" formControlName="emailId" name="emailId" value="" id="emailId" placeholder="Enter first name">
        </div>

        <div class="form-group">
            <label for="passphrase">Password </label>
            <input type="password" class="form-control" formControlName="passphrase" value="" name="passphrase" id="passphrase" placeholder="Enter middle name">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>